
.page-row
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
 background-color: rgba(255, 255, 255, 0.9);

     margin-left: 0px !important;
          --bs-gutter-x: 0px !important;
}
.card
{
  width: 400px;
  height: 500px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}
.heading{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}
.nav-button
{
    padding: 10px 80px;
}
.heading-btn
{ 
    padding: 10px 30px;
     border: none;
     border-radius: 10px;
     background-color: white;
     cursor: pointer;

}
.input-fields
{
    margin: 10px 0px;
    padding: 10px 20px;
  
    width: 100%;
}
.input-fields input
{
    padding: 10px 20px;
    width: 100%;
    margin: 10px 0px;
    border-radius: 10px;
    border-color: #d6d6d6;
}
.page-button
{
    padding: 10px 30px;
}
.cl-btn
{
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}
.cl-btn:hover
{
    background-color: gold;
    transform: scale(.9);
    transition: all ease-in-out 1min;
}
.cl-btn:active
{
    background-color: gold;
    transform: scale(.9);
    transition: all ease-in-out 1min;
}
.n-text
{
    text-align: center;
    font-size: 15px;
    color: #333;
    margin-top: 20px;
}
.signup-text
{
    color: blue;
    text-align: center;
    cursor: pointer;
}
@media only screen and (max-width: 500px) {
    .heading-btn
{ 
    padding: 10px 20px;
  

}
.card
{
  width: 90%;
  height: 500px;

}

  }


@media only screen and (max-width: 390px) {

    .nav-button
    {
        display: flex;
    }
    .heading-btn
{ 
    padding: 5px 20px;
     border: none;
     border-radius: 10px;
     background-color: white;
     cursor: pointer;
     font-size: 12px;

}
  }

  .card-signup
{
    width: 400px;
    height: 550px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}